<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThreadingTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ThreadingTimer.Properties.Settings>
            <setting name="messages" serializeAs="String">
                <value>до 2021 осталось</value>
            </setting>
            <setting name="save" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="visial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YearMessages" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="MonthMessages" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DayMessages" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CloseTime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HourMessages" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MinutMessages" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EveryDay" serializeAs="String">
                <value>False</value>
            </setting>
        </ThreadingTimer.Properties.Settings>
    </userSettings>
</configuration>